{% extends 'layout.html' %}


{% block title %} TrulySecure - Innovating the future of Security {% endblock %}


{% block content %}

<!--main body-->


<main class="container">
  <div class="md-margin-top"></div>
  <div class="container sm-margin-top">
    <div class="row text-center lg-margin-bottom">
      <h1 id="home1">Cybersecurity Services</h1>
      <h3 class="text-muted">
        Protect Your Assets from cyber criminals who can’t wait to compromise your systems, and put your business at risk.
      </h3>
    </div>
    <div class="row text-center">
      <div class="col-lg-4">
        <!--i class="fa fa-fw fa-4x fa-bullhorn text-primary"></i-->
        <img class="home_title" src="static/images/mainLogo.png"
                 class="img-responsive"
                 width="129" height="130" title="TrulySecure" alt="TrulySecure"/>
        <h2>Security Assesment</h2>
        <p class="text-muted0" >Our Services aid a company against any exploitation of the existing weaknesses.</p>
        <p>
          <a href="#" class="btn btn-default">Coming Soon</a>
        </p>
      </div>
      <div class="col-lg-4">
        <!--i class="fa fa-fw fa-4x fa-database text-primary"></i-->
        <img class="home_title" src="static/images/mainLogo.png"
                 class="img-responsive"
                 width="129" height="130" title="TrulySecure" alt="TrulySecure"/>
        <h2>Password Security Manager</h2>
        <p class="text-muted0">Complete package to Generate and Strenthen your password credentials. </p>
        <p>
          <a href="#" class="btn btn-default">Sign up</a>
          <a href="#" class="btn btn-default">Login</a>
        </p>
      </div>
      <div class="col-lg-4">
        <!--i class="fa fa-fw fa-4x fa-trophy text-primary"></i-->
        <img class="home_title" src="static/images/mainLogo.png"
                 class="img-responsive"
                 width="129" height="130" title="TrulySecure" alt="TrulySecure"/>
        <h2>Data Loss Prevention</h2>
        <p class="text-muted0">Our DLP Solution helps companies to control their data, at any place and any time.</p>
        <p>
          <a href="#" class="btn btn-default">Coming Soon</a>
        </p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
    <div class="projects-horizontal">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Projects </h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
            </div>
            <div class="row projects">
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="static/images/home/desk.jpg" width="200" height="120" /></a></div>
                        <div class="col">
                            <h3 class="name">Project Name</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="static/images/home/building.jpg" width="200" height="120" ></a></div>
                        <div class="col">
                            <h3 class="name">Project Name</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="static/images/home/loft.jpg" width="200" height="120" ></a></div>
                        <div class="col">
                            <h3 class="name">Project Name</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                      <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="static/images/home/loft.jpg" width="200" height="120" ></a></div>
                        <div class="col">
                            <h3 class="name">Project Name</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</main>


<!--Footer-->
<br>
<br>
<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Security Assesment</a></li>
                        <li><a href="#">Password Security Manager</a></li>
                        <li><a href="#">Data Loss Prevention</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Company Name</h3>
                    <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">TrulySecure © 2020</p>
        </div>
    </footer>
</div> 
{% endblock %}